<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.level3studios.showhidefiles</string>
	<key>connections</key>
	<dict>
		<key>532DE853-3008-4C52-A9C1-725CDBC1A555</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BAAA5F7-6095-4BBA-AF86-3F591B989457</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BAAA5F7-6095-4BBA-AF86-3F591B989457</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EE2FF7A-74AA-4669-8D2B-E36E29EF2AAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C1FAC38-8B76-474A-8E61-19FBAF213DA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CC10E4C-C987-46BA-8211-FA515A49C277</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73BA13B0-E0A8-4BCE-887D-A7A98235ED3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C1FAC38-8B76-474A-8E61-19FBAF213DA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sal Aldana</string>
	<key>description</key>
	<string>This workflow uses the keyboard shortcut for showing/hiding hidden files.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Show/Hide Hidden Files</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>show f</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>显示隐藏文件</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>532DE853-3008-4C52-A9C1-725CDBC1A555</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>defaults write com.apple.finder AppleShowAllFiles TRUE
killall Finder</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6BAAA5F7-6095-4BBA-AF86-3F591B989457</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>文件已经显示</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7EE2FF7A-74AA-4669-8D2B-E36E29EF2AAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>defaults write com.apple.finder AppleShowAllFiles FALSE
killall Finder</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C1FAC38-8B76-474A-8E61-19FBAF213DA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hide f</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>隐藏文件</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>73BA13B0-E0A8-4BCE-887D-A7A98235ED3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>文件已经隐藏</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6CC10E4C-C987-46BA-8211-FA515A49C277</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>########################################
# Show or Hide Hidden Files in Finder
# BundleID: net.level3studios.showhidefiles
# Date Created: 7/1/18
########################################

This little workflow simply runs the command inside terminal to show or hide hidden files in Finder. I found it useful, I hope you do to. One thing to note, I am running the “exit 0” command in my script in order to exit gracefully. I’ve found that if you set the terminal settings to “Close if the shell exited cleanly” it works very nicely.

This simple workflow will use Finder (if it's not the currently selected application) and then use the keyboard shortcut to show/hide hidden files. I needed a shortcut after starting a new role which required me to constantly go into a hidden folder to verify certain files. This made it easier and quicker for me to get in and out of the hidden folders. Hope you enjoy.</string>
	<key>uidata</key>
	<dict>
		<key>532DE853-3008-4C52-A9C1-725CDBC1A555</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>6BAAA5F7-6095-4BBA-AF86-3F591B989457</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>6C1FAC38-8B76-474A-8E61-19FBAF213DA6</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>6CC10E4C-C987-46BA-8211-FA515A49C277</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>73BA13B0-E0A8-4BCE-887D-A7A98235ED3D</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>7EE2FF7A-74AA-4669-8D2B-E36E29EF2AAE</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
